.Header {
    background-image: linear-gradient(90deg, #6495ed, #0c3c96);
    height: 64px;
    box-shadow: 0 10px 10px #888;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Header label {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px;
    border: 1px solid black;
    background-color: rgb(9, 9, 90);
    color: #eee;
    margin:0 24px;
    cursor: pointer;
}

.Header input:nth-child(2) {
    display: none;
}
.Header input:nth-child(3) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 6px 12px;
    border: 1px solid black;
    background-color: rgb(9, 9, 90);
    color: #eee;
    margin:0 24px;
    cursor: pointer;
}